* {
	font-family: "Roboto", sans-serif;
	border-radius: 7px;
}

html {
	background: url(./assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

main {
	text-align: center;
}

form {
  margin-top: 50px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-inputs {
  height: 30px;
  margin-left: 5px;
  padding-left: 5px;
}

.song-key {
  width: 35px;
}

.song-tempo {
  width: 40px;
}

/*disable input spinner on tempo input*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


button {
  border-radius: 5px;
  border: 0;
  width: 115px;
  height: 25px;
  margin-top: 14px;
  background: rgba(255, 255, 255, 0.72);
}

button:hover {
  background: rgba(146, 146, 146, 0.72);
}

button:active {
  background: rgba(105, 104, 104, 0.72);
}

.setlist {
  text-align: left;
  margin: 40px auto;
  max-width: 350px;
  color: black;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sortable-ghost {
  opacity: 0;
}

.track-item-container {
  background-color: rgba(255, 255, 255, .9);
  margin: 5px;
}

.delete-button-container {
  display: inline-block;
}

.delete-button {
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.delete-button:hover {
  color: #635b5b;
}

.delete-button:active {
    color: #dedede;
}

.rearrange-handle {
  width: 17px;
  vertical-align: text-top;
  margin-left: 5px;
  margin-right: 5px;
}

.edit-button {
	width: 17px;
	vertical-align: text-top;
	margin-left: 5px;
}

.track {
	display: inline-block;
}

.no-track {
  display: inline-block;
  margin-left: 43px;
  text-align: center;
}